<!DOCTYPE html>
<html lang="en">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<body>
<div data-ng-app="">
        <!-- Either of below can be used -->
        <input type="button" data-ng-disabled="mySwitch" value="Click Me after writing your name in the text box">
        <!--<button data-ng-disabled="mySwitch">Click Me!</button>-->
    </p>
    <p>
        <!-- Either of below can be used -->
        <input type="text" data-ng-model="mySwitch">
        <!--<input type="checkbox" data-ng-model="myswitch">-->
    </p>
</div>
</body>
</html>